<div class="custom-container">
    <div class="container-fluid">
        <table class="table table-bordered table-hover">
            <thead>
                <tr role="row">
                    <th></th>
                    <th>Nome</th>
                    <th>Descrição breve</th>
                    <th>Idade</th>
                    <th>Dono</th>
                </tr>
            </thead>
            <tbody>
                <tr class="viewDetails" (click)="showDetails(hosp)"
                    *ngFor="let hosp of hospitalizations | paginate: { itemsPerPage: 5, currentPage: paginaAtual }; let i = index">
                    <td><img [src]="hosp.pet.image"></td>
                    <td>{{hosp.pet.name}}</td>
                    <td>{{hosp.description}}</td>
                    <td>{{hosp.start_date | date: 'dd/MM/yyyy'}}</td>
                    <td>{{hosp.end_date | date: 'dd/MM/yyyy'}}</td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior"
            nextLabel="Próximo"></pagination-controls>
    </div>
</div>