<div class="login-page" class="img-back">
    <div class="container">
        <div class="d-flex vh-100">
            <div class="d-flex w-100 justify-content-center align-self-center">
                <div class="card" style="background-color: rgb(224, 224, 224); width: 600px;">
                    <div class="row">
                        <div class="col-md-12">
                            <form #formLogin="ngForm" (ngSubmit)="createUser()" id="form-login">
                                <label for="inpName" class="form-input-label">Nome e sobrenome</label>
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <div style="background-color: #fd7e14;" class="input-group-text">
                                            <span class="fa fa-user-circle"></span>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control"
                                        [ngClass]="{'is-invalid': name.invalid && (name.dirty || name.touched)}"
                                        id="inpName" name="inpName" placeholder="Nome e sobrenome"
                                        [(ngModel)]="user.name" #name="ngModel" required />
                                </div>

                                <label for="inpTel" class="form-input-label">Telefone</label>
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <div style="background-color: #fd7e14;" class="input-group-text">
                                            <span class="fa fa-phone"></span>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control"
                                        [ngClass]="{'is-invalid': tel.invalid && (tel.dirty || tel.touched)}"
                                        id="inpTel" name="inpTel" placeholder="Telefone"
                                        [(ngModel)]="user.tel" #tel="ngModel" required />
                                </div>


                                <label for="inputEmail" class="form-input-label">E-mail</label>
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <div style="background-color: #fd7e14;" class="input-group-text">
                                            <span class="fa fa-envelope"></span>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control"
                                        [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}"
                                        id="inputEmail" name="inputEmail" placeholder="E-mail" [(ngModel)]="user.email"
                                        #email="ngModel" maxlength="100" required />
                                </div>
                                <label for="inputPassword" class="form-input-label">Senha</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-append">
                                        <div style="background-color: #fd7e14;" class="input-group-text">
                                            <span class="fa fa-lock"></span>
                                        </div>
                                    </div>
                                    <input type="password" class="form-control"
                                        [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched)}"
                                        id="inputPassword" name="inputPassword" placeholder="Senha"
                                        [(ngModel)]="user.password" #password="ngModel" minlength="6" maxlength="50"
                                        required />
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit" style="border: none; background-color: #fd7e14;"
                                            class="btn btn-outline-primary btn-block"
                                            [disabled]="formLogin.invalid">PROSSEGUIR</button>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="custom-link" routerLink="/">Já possuí uma conta?</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>