<mat-dialog-content class="mat-typography">
    <div class="modal-header text-center" style="width: 100%;">
        <h2 class="modal-title white-text w-100 font-weight-bold py-2">Vacinas</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true" class="white-text">&times;</span>
        </button>
    </div>

    <div class="custom-container">
        <div class="container-fluid">
            <form role="form">
                <div class="row custom-space" *ngFor="let vac of vacs, let i = index">
                    <div class="col-md-6">
                        <label class="container">{{vac.name}}
                            <input type="checkbox" [checked]="check(vac.id, vac.value) == true" (change)="defVac(vac.id)">
                            <span class="checkmark"></span>
                        </label>
                        <p>Valor de aplicação: {{vac.value | currency: 'BRL'}}</p>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <input class="form-control" [(ngModel)]="petVacs[i].applied" #name="ngModel" [id]="'inpname' + vac.id"
                                [name]="'inpname' + vac.id" type="month">
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class='card-footer'>
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-outline-secondary" style="width: 100%;"
                    (click)="closeModal()">CANCELAR</button>
            </div>
            <div class="col-md-6">
                <button (click)="attvac()" type="button" class="btn btn-outline-secondary"
                    style="width: 100%;">SALVAR</button>
            </div>
        </div>
    </div>
</mat-dialog-content>