img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: #004D40 3px solid;
  }
  
  .add-pet{
    height: 40px;
    background-color: #004D40;
    border-radius: 10px;
    border: solid 1px #004D40;
  }
  
  .viewDetails:hover{
    background-color: #004d4018;
    cursor: pointer;
  }
  
  