<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
    <div>
      <li [ngClass]="activatedRoute === 'pets' ? 'active' : 'menu'">
        <a routerLink="/dash1/pets" (click)="setRouteActivated('pets')" class="nav-link">
          <p class="linkMenu">
            Animais
          </p>
        </a>
      </li>
      <li [ngClass]="activatedRoute === 'meds' ? 'active' : 'menu'">
        <a class="nav-link" routerLink="/dash1/medicamentos" (click)="setRouteActivated('meds')">
          <i></i>
          <p class="linkMenu">
            Medicamentos
          </p>
        </a>
      </li>
      <li [ngClass]="activatedRoute === 'vacs' ? 'active' : 'menu'">
        <a class="nav-link" routerLink="/dash1/vacinas" (click)="setRouteActivated('vacs')">
          <i></i>
          <p class="linkMenu">
            Vacinas e medicações
          </p>
        </a>
      </li>
    </div>
    <div>
      <li class="nav-item">
        <a (click)="logout();" class="nav-link">
          <p class="linkMenu">
            Sair
          </p>
        </a>
      </li>
    </div>
  </ul>
</nav>