<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
    <div>
      <li class="nav-item">
        <a routerLink="/dash1/pets" class="nav-link">
          <p class="linkMenu">
            Animais
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/dash1/hospitalizations" class="nav-link">
          <p class="linkMenu">
            Internações
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <p class="linkMenu">
            Adoções ( em desenvolvimento)
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <p class="linkMenu">
            Estoque ( em desenvolvimento)
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/dash1/reports" class="nav-link">
          <p class="linkMenu">
            Relatórios
          </p>
        </a>
      </li>
    </div>
    <div>
      <li class="nav-item">
        <a (click)="logout();" class="nav-link">
          <p class="linkMenu">
            Sair
          </p>
        </a>
      </li>
    </div>
  </ul>
</nav>