nav {
  max-height: 450px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

a.nav-link {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0px;
}

.linkMenu {
  color: white;
}

.active {
  background-color: #084ca1;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}